/* nav*/
.nav-ini {
  background-image: url("../img/fonda.jpg") !important;
}
.nav-ini nav.bg-light {
  background-color: transparent !important;
}
.nav-ini nav.bg-light img.img {
  margin-left: 2vw;
  width: 80px;
  height: 80px;
}
.nav-ini nav.bg-light img.img:hover {
  transform: scale(1.4, 1.3);
}
.nav-ini nav.bg-light div ul {
  margin-left: 1vw;
  margin-right: 1vw;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .nav-ini nav.bg-light div ul {
    margin-left: 2px;
    margin-right: 2px;
  }
}
.nav-ini nav.bg-light div ul li.nav-item {
  margin-left: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 15px;
}
.nav-ini nav.bg-light div ul li.active {
  border-style: solid;
  border-radius: 30px;
  border-width: 1.2px;
  border-color: #ffffff;
}
@media screen and (max-width: 950px) {
  .nav-ini nav.bg-light div ul li.active {
    border-style: none;
  }
}
.nav-ini nav.bg-light div ul li.active:hover {
  border-color: #44515A;
  box-shadow: 3px 3px 3px #ffffff;
}
.nav-ini nav.bg-light div ul li a {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff !important;
  font-weight: bolder;
}
.nav-ini nav.bg-light div ul li a:hover {
  color: #ffffff !important;
  border-color: #C4AEF2 !important;
  background-color: transparent;
  transform: scale(1.1, 1.1);
}
.nav-ini nav.bg-light div ul li .fa, .nav-ini nav.bg-light div ul li .fab, .nav-ini nav.bg-light div ul li .fad, .nav-ini nav.bg-light div ul li .fal, .nav-ini nav.bg-light div ul li .far, .nav-ini nav.bg-light div ul li .fas {
  font-size: 25px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .nav-ini nav.bg-light div ul li {
    font-size: 12px;
  }
}
.nav-ini nav.bg-light div ul.icono {
  margin-left: 170px;
}
@media screen and (max-width: 950px) {
  .nav-ini nav.bg-light div ul.icono {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
  }
}
.nav-ini nav.bg-light div ul.icono li.iconos {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.nav-ini section#inicio {
  background-color: transparent !important;
  height: 550px;
}
@media screen and (max-width: 700px) {
  .nav-ini section#inicio {
    height: 420px;
  }
}
.nav-ini section#inicio div.container h1 {
  margin-top: 150px;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 700px) {
  .nav-ini section#inicio div.container h1 {
    font-size: 23px;
    margin-top: 0vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-size: unset;
    background-position: initial;
    text-shadow: 1px 1px 2px #C4AEF2;
  }
}
.nav-ini section#inicio a button.btn {
  background-color: #44515A;
  color: #ffffff;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 8px;
  border: 0;
  text-transform: uppercase;
  border-radius: 15px;
  margin-top: 25px;
}
.nav-ini section#inicio a button.btn:hover {
  color: #44515A;
  background-color: #e2e6ea;
}
@media screen and (max-width: 700px) {
  .nav-ini section#inicio a button.btn {
    font-size: 10px;
    margin-top: 2px;
  }
}

/* inicio 
@import "listas";
section#inicio {



    height: 600px;
    div.container h1{
    margin-top: 200px;
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    color: nth($colores,3);
    //text-shadow: 1px 1px 1px nth($colores,1);
    padding-left: 60px;
    padding-right: 60px;
    span.info {
      // color: nth($colores,3) ;
     // text-shadow: 2px 2px 2px nth($colores,3);
    }
    @media screen and (max-width: 700px) {
        font-size: 23px;
        margin-top: 110px;
        padding-left: 25px;
        padding-right: 25px;
        background-size:unset;
        background-position:initial;


     }
}

    a { 

     button.btn {
        background-color: nth($colores,5);
        color: nth($colores,3);
        font-weight: bolder;
        font-size: 16px;
        letter-spacing: 8px;
        border: 0;
        text-transform: uppercase;
        border-radius: 15px;
        margin-top: 25px;
        &:hover {
           color:nth($colores,2);
           background-color: nth($colores,7);
        }
        @media screen and (max-width: 700px) {
           font-size: 10px;
           margin-top: 8px;
        }
     }
    }


}
*/
div.consulta {
  padding: 4vw;
  max-width: 100%;
  height: auto;
  background-color: #44515A;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0vw;
}
div.consulta div.card {
  margin: 3vw;
  margin-bottom: 1vw;
  border: none;
}
div.consulta div.card div.card-body {
  color: #ffffff;
  background-color: #44515A;
  padding: 0vw;
  font-weight: bolder;
}
div.consulta div.card div.card-body .btn {
  background-color: #44515A;
  color: white;
  border: 2px solid white;
  padding: 1vw;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
div.consulta div.card div.card-body .btn:hover {
  color: #00C2CB;
  border-color: #00C2CB;
}
div.consulta div.card div.card-body .card-title {
  font-weight: bold;
  font-size: 1.3rem;
}

/* servicios*/
section#servicios {
  background-color: whitesmoke;
  background-image: linear-gradient(to right, #A6A3A1, #c1fffc);
  margin-top: 3vw;
}
section#servicios div div.row {
  font-size: 19px;
  text-align: center;
  content: 0px !important;
  margin-left: 4vw;
  margin-right: 4vw;
}
section#servicios div div.row div p.mt-4 {
  font-size: 22px;
  color: #04BFBF;
  text-shadow: 2px 2px 2px whitesmoke;
}
section#servicios div div.row div img.rounded-circle {
  width: 85px;
  height: 85px;
}

section.introduccion-s {
  padding-top: 4vw;
  padding-bottom: 0vw;
}
section.introduccion-s h4.titulo-s {
  color: #44515A;
  font-size: 2rem;
  font-family: "libre Franklin", sans-serif;
  border-bottom: solid 3px #44515A;
  margin-left: 1.2em;
  margin-bottom: 1em;
}
section.introduccion-s p.parrafo-s {
  color: #44515A;
  font-family: "libre-Franklin", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1vw;
  margin-top: 0.5vw;
}
div.card-deck {
  padding: 1vw;
  margin: 4vw;
}
@media screen and (max-width: 801px) {
  div.card-deck {
    max-width: 60%;
    padding: 0vw !important;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  div.card-deck {
    max-width: 100%;
  }
}
div.card-deck div.card {
  padding: 1vw;
  border: solid 3px #9297AA;
}
div.card-deck div.card:hover {
  background-color: #C4AEF2;
}
div.card-deck div.card img.card-img-top {
  max-width: 30%;
  text-align: center;
}
@media screen and (max-width: 801px) {
  div.card-deck div.card img.card-img-top {
    max-width: 60%;
  }
}
div.card-deck div.card h5.card-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0vw;
}
@media screen and (max-width: 801px) {
  div.card-deck div.card h5.card-title {
    font-size: 1rem;
  }
}

.btn-s {
  background-color: #44515A;
  color: #ffffff;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 8px;
  border: 0;
  text-transform: uppercase;
  border-radius: 15px;
  margin-top: 1vw;
  margin-bottom: 6vw;
}
.btn-s:hover {
  color: #44515A;
  background-color: #C4AEF2;
}
@media screen and (max-width: 700px) {
  .btn-s {
    font-size: 7px;
    margin-top: 8px;
    max-width: 80%;
  }
}

body {
  background-image: linear-gradient(to right, #F2E4DC, #7D7B80);
}
body nav.bg-light {
  background-color: transparent !important;
}
body nav.bg-light img.img {
  margin-left: 2vw;
  width: 80px;
  height: 80px;
}
body nav.bg-light img.img:hover {
  transform: scale(1.4, 1.3);
}
body nav.bg-light div ul {
  margin-left: 1vw;
  margin-right: 1vw;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  body nav.bg-light div ul {
    margin-left: 2px;
    margin-right: 2px;
  }
}
body nav.bg-light div ul li.nav-item {
  margin-left: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 15px;
}
body nav.bg-light div ul li.active {
  border-style: solid;
  border-radius: 30px;
  border-width: 1.2px;
  border-color: #ffffff;
}
@media screen and (max-width: 950px) {
  body nav.bg-light div ul li.active {
    border-style: none;
  }
}
body nav.bg-light div ul li.active:hover {
  border-color: #44515A;
  box-shadow: 3px 3px 3px #ffffff;
}
body nav.bg-light div ul li a {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff !important;
  font-weight: bolder;
}
body nav.bg-light div ul li a:hover {
  color: #ffffff !important;
  border-color: #C4AEF2 !important;
  background-color: transparent;
  transform: scale(1.1, 1.1);
}
body nav.bg-light div ul li .fa, body nav.bg-light div ul li .fab, body nav.bg-light div ul li .fad, body nav.bg-light div ul li .fal, body nav.bg-light div ul li .far, body nav.bg-light div ul li .fas {
  font-size: 25px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  body nav.bg-light div ul li {
    font-size: 12px;
  }
}

section.introduccion .tit {
  color: #44515A;
  font-size: 2rem;
  font-family: "libre Franklin", sans-serif;
  border-bottom: solid 3px #44515A;
  margin-left: 1.2em;
  margin-bottom: 1em;
}
section.introduccion p.parrafo {
  color: #44515A;
  font-family: "libre-Franklin", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1vw;
  margin-top: 0.5vw;
}

div.containerserv {
  background-image: linear-gradient(to right, #F2E4DC, #7D7B80);
  font-family: sans-serif;
  width: 100%;
}
@media screen and (min-width: 999px) {
  div.containerserv .containerserv {
    max-width: 960px;
  }
}
@media screen and (min-width: 770px) {
  div.containerserv .containerserv {
    max-width: 960px;
  }
}
@media screen and (min-width: 578px) {
  div.containerserv .containerserv {
    max-width: 960px;
  }
}
div.containerserv .servicios {
  box-shadow: 5px 5px 5px grey;
  display: flex;
  margin: 3vw;
  margin-bottom: 2vw;
  padding: 1vw;
}
@media screen and (max-width: 900px) {
  div.containerserv .servicios {
    flex-wrap: wrap;
  }
}
div.containerserv .servicios p.serv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  color: #44515A;
}
div.containerserv .servicios img.servis {
  border-radius: 3%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  div.containerserv .servicios .col-lg-6 .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  div.containerserv .servicios .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* OBRAS SOCIALES */
.py-5 {
  background-color: lightgray;
  padding-bottom: 100px !important;
  font-family: "Rubik", sans-serif;
  color: #44515A;
}
.py-5 .container {
  max-width: 1600px !important;
}
.py-5 .container div p.mb-5 {
  text-shadow: none;
}
.py-5 .container div div div div img.rounded-circle {
  width: 170px;
  height: 90px;
  transition: all 0.5s;
  transition: all 0.5s;
}
.py-5 .container div div div div img.rounded-circle:hover {
  width: 180px;
  height: 100px;
  transition: all 0.5s;
  border-color: #D93BBE;
}

/* QUIEN SOY */
section.blockinfo {
  background-color: whitesmoke !important;
  font-family: "Rubik", sans-serif;
  padding-right: 4vw;
  padding-left: 4vw;
}
section.blockinfo div.container {
  padding-left: 3vw;
  padding-right: 3vw;
}
section.blockinfo div.container h2.mb-4 {
  text-shadow: 2px 2px 2px whitesmoke;
  padding-top: 4vw;
  font-size: 2.5rem;
  color: #44515A;
}
@media screen and (max-width: 700px) {
  section.blockinfo div.container h2.mb-4 {
    font-size: 1.5rem;
  }
}
section.blockinfo div.container .mb-5 {
  font-size: 20px;
}
section.blockinfo div.container div div img.img-fluid {
  border-radius: 100%;
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 700px) {
  section.blockinfo div.container div div img.img-fluid {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  section.blockinfo div.container div div img.img-fluid {
    width: 250px;
    height: 250px;
  }
}
section.blockinfo div.container div div div span.display-3 {
  font-size: 22px;
  color: #44515A;
}
section.blockinfo div.container div div div h3.mb-4 {
  color: #44515A;
  font-weight: bolder;
  font-size: 25px;
}
@media screen and (max-width: 700px) {
  section.blockinfo div.container p {
    font-size: 18px;
    margin-top: 4vw;
  }
}
@media screen and (max-width: 700px) and (max-width: 700px) {
  section.blockinfo div.container h3 {
    margin-top: 10px;
  }
}

section.links {
  background-color: lightgray;
  flex-wrap: wrap;
}
section.links h5.title {
  text-align: center;
  padding-bottom: 1vw;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: "Rubik", sans-serif;
  color: #44515A;
  font-size: 19px;
  font-weight: bolder;
}
@media screen and (max-width: 700px) {
  section.links h5.title {
    padding-top: 7vw;
  }
}
section.links div.row {
  padding-left: 4vw;
  padding-right: 4vw;
  max-width: 100%;
}
section.links div.row .col-md-4 {
  padding-bottom: 23px;
}
section.links div.row .col-md-4 iframe {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 300px;
  height: 230px;
}
@media screen and (max-width: 800px) {
  section.links div.row .col-md-4 iframe {
    width: 250px;
    height: 150px;
    margin-left: 11vw;
    margin-right: 3vw;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  section.links div.row .col-md-4 iframe {
    max-width: 100%;
    margin-left: 2vw;
  }
}
section.links div.row .col-md-4 p.infolinks {
  font-size: 19px;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  font-weight: bolder;
  color: #44515A;
}
@media screen and (max-width: 800px) {
  section.links div.row .col-md-4 p.infolinks {
    font-size: 14px;
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

/* footer */
footer.footer {
  background-color: #44515A;
  padding-bottom: 15px !important;
  padding-left: 40px;
  padding-right: 40px;
}
footer.footer .container {
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}
footer.footer .container div div a {
  color: #ffffff;
  font-weight: bolder;
}
footer.footer .container div div ul {
  margin-left: -2rem;
}

a.float {
  position: fixed;
  width: 60px;
  height: 57px;
  bottom: 105px;
  right: 10px;
  background-color: #01B32B;
  color: #FFF !important;
  border-radius: 50px;
  text-align: center;
  font-size: 34px;
  box-shadow: 2px 2px 3px #999;
  z-index: 6;
}

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 17px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #9297AA;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

div.nav-form {
  background-image: url("../img/fonda.jpg");
}
div.nav-form section.introduccion {
  color: #C4AEF2;
}
div.nav-form section.introduccion h4.titform {
  color: #ffffff;
  margin-bottom: 0vw;
  border-bottom: solid 3px #C4AEF2;
}
div.nav-form section.introduccion p.parrafoform {
  color: #ffffff;
  padding-top: 0vw;
}
div.nav-form .form {
  padding: 25px;
  border-top-width: 9px !important;
  border-right-width: 9px !important;
  border-bottom-width: 9px !important;
  border-left-width: 9px !important;
  padding-top: 60px !important;
  padding-right: 25px !important;
  padding-bottom: 10px !important;
  padding-left: 25px !important;
  border-left-color: rgba(255, 255, 255, 0.3) !important;
  border-left-style: double !important;
  border-right-color: rgba(255, 255, 255, 0.3) !important;
  border-right-style: double !important;
  border-top-color: rgba(255, 255, 255, 0.3) !important;
  border-top-style: double !important;
  border-bottom-color: rgba(255, 255, 255, 0.3) !important;
  border-bottom-style: double !important;
}
div.nav-form form {
  color: #ffffff;
  font-weight: bolder;
  margin: 2vw;
  font-size: 1rem;
}
div.nav-form form button.btnform {
  background: linear-gradient(to right, #C4AEF2, #7D7B80);
  border-color: #7D7B80;
  font-weight: bold;
}
div.nav-form form button.btnform:hover {
  scale: 1.1;
  background: #44515A;
}

nav.bg-light {
  background-color: transparent !important;
}
nav.bg-light img.img {
  margin-left: 5px;
  width: 80px;
  height: 80px;
}
nav.bg-light img.img:hover {
  transform: scale(1.4, 1.3);
}
nav.bg-light div ul {
  margin-left: 30px;
  margin-right: 15px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  nav.bg-light div ul {
    margin-left: 2px;
    margin-right: 2px;
  }
}
nav.bg-light div ul li.nav-item {
  margin-left: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}
nav.bg-light div ul li.active {
  border-style: solid;
  border-radius: 30px;
  border-width: 1.2px;
  border-color: #ffffff;
}
@media screen and (max-width: 950px) {
  nav.bg-light div ul li.active {
    border-style: none;
  }
}
nav.bg-light div ul li.active:hover {
  box-shadow: 3px 3px 3px #ffffff;
  border-color: #ffffff;
}
nav.bg-light div ul li a {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-weight: bolder;
}
nav.bg-light div ul li a:hover {
  color: whitesmoke !important;
  background-color: transparent;
  border-color: #C4AEF2 !important;
  transform: scale(1.1, 1.1);
}
nav.bg-light div ul li a .fa, nav.bg-light div ul li a .fab, nav.bg-light div ul li a .fad, nav.bg-light div ul li a .fal, nav.bg-light div ul li a .far, nav.bg-light div ul li a .fas {
  font-size: 25px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  nav.bg-light div ul li a {
    font-size: 12px;
  }
}
nav.bg-light div ul.icono {
  margin-left: 170px;
}
@media screen and (max-width: 950px) {
  nav.bg-light div ul.icono {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
  }
}
nav.bg-light div ul.icono li.iconos {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

body {
  background-color: whitesmoke !important;
}

/*# sourceMappingURL=estilos.css.map */
