/* OBRAS SOCIALES */
 .py-5 { 
    background-color: nth($colores,6);
    padding-bottom: 100px !important;
    font-family: "Rubik", sans-serif;
    color: nth($colores,13);
 .container {
        max-width: 1600px !important;
     
    div {
        p.mb-5 {
            text-shadow: none;
        }
        div div div img.rounded-circle {
            width: 170px;
            height: 90px;
            transition: all 0.5s;
            transition: all 0.5s;
            &:hover {
                width: 180px; height: 100px;
                transition: all 0.5s; 
                border-color: nth($colores,2);

}
}

        }
    }




}






   
