/* servicios*/
@import "listas";
section#servicios {
    background-color: nth($colores,4);
    background-image: linear-gradient(to right, #A6A3A1, #c1fffc);
    margin-top: 3vw;
    


    div div.row {
    font-size: 19px;
    text-align: center;
    content: 0px !important;
    
    margin-left: 4vw;
    margin-right: 4vw;
    
    

    div p.mt-4 {
    font-size: 22px;
    color: nth($colores,5);
    text-shadow: 2px 2px 2px nth($colores,4);
    
    }
    div img.rounded-circle {
        width: 85px;
        height: 85px;
    }
    }
  
}

section.introduccion-s {
    
        padding-top: 4vw;
        padding-bottom: 0vw;
    h4.titulo-s {
        color: #44515A;
        font-size: 2rem;
        font-family: "libre Franklin", sans-serif;
        border-bottom: solid 3px #44515A;
        margin-left: 1.2em;
        margin-bottom: 1em;
    }
    p.parrafo-s {
        color: #44515A;
        font-family: "libre-Franklin", sans-serif;
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1vw;
        margin-top: 0.5vw;
       
        @media screen and (max-width: 800px){
           
    }

    }
}

div.card-deck {
    padding: 1vw;
    margin: 4vw;
    @media screen and (max-width: 801px){
                
        max-width: 60%;
        padding: 0vw !important;
         }

    @media (min-width: 701px) and (max-width: 1000px) {
        max-width: 100%;
    }
    div.card {
        padding: 1vw;
        border: solid 3px nth($colores,12);
        &:hover {
            background-color: nth($colores,11);
        }
        
        img.card-img-top {
            max-width: 30%;
            text-align: center;
            @media screen and (max-width: 801px){
                
                max-width: 60%;
                 }
        }
        h5.card-title {
            font-size: 1.5rem;
            text-align: center;
            padding: 0vw;
            @media screen and (max-width: 801px){
                
               font-size: 1rem;
                }
            
         }
        }
    }
   

.btn-s {
    background-color: nth($colores,13);
        color: nth($colores,3);
        font-weight: bolder;
        font-size: 14px;
        letter-spacing: 8px;
        border: 0;
        text-transform: uppercase;
        border-radius: 15px;
        margin-top: 1vw;
        margin-bottom: 4vw;
        &:hover {
           color:nth($colores,13);
           background-color: nth($colores,11);
           
        }
        @media screen and (max-width: 700px) {
           font-size: 7px;
           margin-top: 8px;
           max-width: 80%;
        }
}
